<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>GADApplicationIdentifier</key>
		<string>ca-app-pub-4348716433106304~7122616005</string>
		<key>NSUserTrackingUsageDescription</key>
<string>This identifier will be used to deliver personalized ads to you.</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>ArcanaX</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<false />
			<key>NSAllowsLocalNetworking</key>
			<true />
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>Fincanınızın fotoğrafını çekmek için kameranızı kullanmamıza izin verir misiniz?</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string></string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Fincanınızın fotoğrafını yüklemek için fotoğraf kütüphanenize erişim gerekiyor.</string>
		<key>UIAppFonts</key>
		<array>
			<string>NotoSerif-Bold.ttf</string>
			<string>NotoSerif-Regular.ttf</string>
			<string>NotoSerif-Thin.ttf</string>
			<string>NotoSerifCondensed-BoldItalic.ttf</string>
			<string>NotoSerifCondensed-Italic.ttf</string>
			<string>NotoSerifCondensed-LightItalic.ttf</string>
			<string>NotoSerifCondensed-Medium.ttf</string>
			<string>NotoSerifCondensed-MediumItalic.ttf</string>
			<string>NotoSerifCondensed-Thin.ttf</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>arm64</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
	</dict>
</plist>